<h1>Product List</h1>

<!-- Search Bar -->
<div class="search-bar">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search for products..." />
  <button (click)="onSearch()">Search</button>
</div>

<!-- Message displayed when no products are found -->
<div *ngIf="noProductsFound" class="no-products">
  <p>No products found that match your search.</p>
</div>

<!-- Product Cards -->
<div *ngFor="let product of products" class="product-card">
  <a [routerLink]="['/products', product._id]">
    <img [src]="product.imageUrl" alt="{{ product.name }}" />
  </a>
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: €{{ product.price }}</p>
  <p>League: {{ product.tags.league }}</p>
  <p>Manufacturer: {{ product.tags.manufacturer }}</p>
  <p>European Competition: {{ product.tags.europeanCompetition }}</p>

  <!-- Show Edit and Delete buttons only for staff users -->
  <button *ngIf="isStaff" routerLink="/edit-product/{{product._id}}">Edit</button>
  <button *ngIf="isStaff" (click)="confirmDelete(product._id)">Delete</button>
</div>
