<h1>Your Cart</h1>
<div *ngIf="cartItems.length === 0">
  <p>Your cart is empty.</p>
</div>

<div *ngFor="let item of cartItems" class="cart-item">
  <img [src]="item.imageUrl" alt="{{ item.name }}" class="product-icon" />
  <div class="cart-item-details">
    <h2>{{item.name}}</h2>
    <p>Individual Kit Price: €{{item.price}}</p>
    <p>Quantity: {{item.quantity}}</p>
    <button (click)="increaseQuantity(item)">+</button>
    <button (click)="decreaseQuantity(item)">-</button>
    <button (click)="removeProduct(item._id)">Remove</button>
  </div>
</div>

<div *ngIf="cartItems.length > 0" class="cart-total">
  <p>Total Price: €{{totalPrice}}</p>
  <button (click)="proceedToCheckout()">Proceed to Checkout</button>
  <button (click)="clearCart()">Clear Cart</button>
</div>
