.checkout-container {
  display: block; /* Change from flex to block to allow vertical stacking */
  margin-top: 20px;
  margin: 0 auto;
  width: 50%;
}

.checkout-price {
  text-align: right;
}

.order-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to separate from the form */
}

.checkout-form {
  width: 100%; /* Full width since it's now below the order summary */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.order-summary h2,
.checkout-form h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.order-item img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 8px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.checkout-form div {
  margin-bottom: 15px;
}

.checkout-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.checkout-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[disabled],
button.disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.5;
}

.checkout-form button:hover {
  background-color: #218838;
}

.checkout-container .order-summary .order-total strong {
  font-size: 1.5em;
}

/* Centered "cart closed" message */
.empty-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
