<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <!-- Username Input -->
  <div class="form-group">
    <label for="username">Username</label>
    <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        (input)="sanatizeUsernameAndPassword()"
        (keypress)="preventInvalidCharactersUsernameAndPassword($event)"
        required
        placeholder="Enter your username"
        #usernameInput="ngModel"
    />
  </div>

  <!-- Email Input -->
  <div class="form-group">
    <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        email
        placeholder="Enter your email"
        #emailInput="ngModel"
      />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
        <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
      </div>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      (input)="handleInput(registerForm)"
      (keypress)="preventInvalidCharactersUsernameAndPassword($event)"
      required
      class="form-control"
      placeholder="Enter your password"
      #passwordInput="ngModel"
    />
  </div>

  <!-- Confirm Password Input -->
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      (input)="handleInput(registerForm)"
      (keypress)="preventInvalidCharactersUsernameAndPassword($event)"
      required
      (blur)="onConfirmPasswordBlur(registerForm)"
      class="form-control"
      placeholder="Confirm your password"
    />
    <p *ngIf="passwordMismatch" class="error">Passwords do not match!</p>
  </div>

  <!-- Role Selection Dropdown -->
  <div class="form-group">
    <label for="role">Role</label>
    <select
      id="role"
      name="role"
      ngModel
      required
      (change)="onInputChange(registerForm)"
      class="form-control"
    >
      <option value="" disabled selected>Select your role</option>
      <option value="customer">Customer</option>
      <option value="staff">Staff</option>
    </select>
  </div>

  <!-- Submit Button -->
  <div class="button-container">
    <button
      type="submit"
      [disabled]="!registerForm.valid || passwordMismatch"
      class="btn-submit"
    >
      Register
    </button>
  </div>
</form>
