<nav class="navbar">
  <!-- Left Side: User Icon -->
  <div class="navbar-left">
    <img src="https://cdn-icons-png.flaticon.com/512/1031/1031499.png" alt="User Icon" class="user-icon" routerLink="/" />
  </div>

  <!-- Right Side: All Other Navigation Links -->
   <div>
     <a
      *ngIf="isStaff"
      routerLink="/add-product"
      class="navbar-item"
      [ngClass]="{'active': isActive('/add-product')}"
    >Add Product</a>

    <a
      *ngIf="isLoggedIn"
      routerLink="/cart"
      class="navbar-item"
      [ngClass]="{'active': isActive('/cart')}"
    >Cart </a>

    <a
      *ngIf="isLoggedIn"
      routerLink="/checkout"
      class="navbar-item"
      [ngClass]="{'active': isActive('/checkout')}"
    >Checkout</a>

    <a
      routerLink="/login"
      class="navbar-item"
      [ngClass]="{'active': isActive('/login')}"
      (click)="handleAuthClick()"
    >{{ isLoggedIn ? 'Logout' : 'Login' }}</a>
  </div>
</nav>
